<div class="container-footer">
    <div class="container-logo-footer">
        <img src="../imgs/logo_FINAL_sin_fondo.png" alt="logo" class="footer-logo">
    </div>
    <div class="footer-pages-url">
        <div class="footer-pages-home">
            
            <a href="../index.html" class="footer-pages-home-link"><img src="../imgs/home.png" alt="">HOME</a>        
        </div>
        <div class="footer-pages-servicios">
            <a href="../servicios.html" class="footer-pages-servicios-link"><img src="../imgs/user.png" alt="">SERVICIOS</a>        
        </div>
        <div class="footer-pages-contacto">
            <a href="../contacto.html" class="footer-pages-contacto-link"><img src="../imgs/phone.png" alt="">CONTACTO</a>        
        </div>
    </div>
    <div class="footer-social-media">
        <img src="../imgs/linkedin-blanco.png" alt="linkedin" class="footer-linkedin">
        <img src="../imgs/github-blanco.png" alt="github" class="footer-github">
    </div>
    <a href="../index.html" class="link-home">(C) 2024 - https://www.RML.com</a>

</div>