<form action="../portfolio.html" class="form">
    <h1 class="form-title">Escribeme</h1>

    <div class="form-input">
        <div class="form-input-name-email">
            <div class="form-input-name">
                <label for="nombre" class="form-name">Nombre</label>
                <input type="text" class="form-name" placeholder="Tu nombre">
            </div>
            <div class="form-input-email">    
                <label for="email" class="form-email">Email</label>
                <input type="email" class="form-email" placeholder="tu@mail.com">
            </div>
        </div>
        
        <label for="mensaje" class="form-msg">Mensaje</label>
        <textarea name="mensaje" class="mensaje"></textarea>
        
        <button class="button-send">
            Enviar <img src="../imgs/send.png" alt="">
        </button>
    </div>
</form>