<div class="container-header">

    <div class="container-logo-header">
        <img src="../imgs/logo_FINAL_sin_fondo.png" alt="logo" class="header-logo">
    </div>
    <div class="container-menu-header">
        <img src="../imgs/menu.png" alt="" class="menu">

    </div>

    <div class="header-black-screen">
        <img src="../imgs/close.png" alt="close" class="close-menu">
        <div class="header-pages-url">
            <a href="../portfolio.html" class="pages-portfolio">Portfolio</a>        
            <a href="../servicios.html" class="pages-servicios">Servicios</a>        
            <a href="../contacto.html" class="pages-contacto">Contacto</a>        
        </div>
    </div>
</div>